In [362]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [363]:
url = 'https://store.steampowered.com/hwsurvey/videocard/'
request = requests.get(url)
soup = BeautifulSoup(request.content, 'html.parser')

In [364]:
table_header = soup.find_all('div', class_='substats_col_left col_header')
#strip the html tags
table_header = [x.text.strip() for x in table_header]
#only keep the first element
table_header = table_header[2]
table_header

'DIRECTX 12 GPUS'

In [365]:
table_months = soup.find_all('div', class_='substats_col_month col_header')
#keep only the first 4 elements
table_months = table_months[:4]
#strip the html tags
table_months = [x.text.strip() for x in table_months]
table_months

['OCT', 'NOV', 'DEC', 'JAN']

In [366]:
last_month = soup.find_all('div', class_='substats_col_month_last_pct col_header')
#strip the html tags
last_month = [x.text.strip() for x in last_month]
#only keep the first element
last_month = last_month[0]
last_month

'FEB'

In [367]:
#combine all the lists into one list
table_header = [table_header] + table_months + [last_month]
table_header
table_header

['DIRECTX 12 GPUS', 'OCT', 'NOV', 'DEC', 'JAN', 'FEB']

In [368]:
#turn the list into a dataframe where each element is a column header
df = pd.DataFrame(table_header)
df = df.T
df.columns = df.iloc[0]
df = df[1:]
df

Empty DataFrame
Columns: [DIRECTX 12 GPUS, OCT, NOV, DEC, JAN, FEB]
Index: []

In [369]:
GPU_name = soup.find_all('div', class_='substats_col_left')
#strip the html tags
GPU_name = [x.text.strip() for x in GPU_name]
GPU_name = GPU_name[100:164]

In [370]:
OCT_usage = soup.find_all('div', class_='substats_col_month')
#strip the html tags
OCT_usage = [x.text.strip() for x in OCT_usage]
OCT_usage = OCT_usage[400:]
#only keep every 4th element
OCT_usage = OCT_usage[::4]
OCT_usage = OCT_usage[:64]

#do the same for the other months
NOV_usage = soup.find_all('div', class_='substats_col_month')
NOV_usage = [x.text.strip() for x in NOV_usage]
NOV_usage = NOV_usage[400:]
NOV_usage = NOV_usage[1::4]
NOV_usage = NOV_usage[:64]

DEC_usage = soup.find_all('div', class_='substats_col_month')
DEC_usage = [x.text.strip() for x in DEC_usage]
DEC_usage = DEC_usage[400:]
DEC_usage = DEC_usage[2::4]
DEC_usage = DEC_usage[:64]

JAN_usage = soup.find_all('div', class_='substats_col_month')
JAN_usage = [x.text.strip() for x in JAN_usage]
JAN_usage = JAN_usage[400:]
JAN_usage = JAN_usage[3::4]
JAN_usage = JAN_usage[:64]

FEB_usage = soup.find_all('div', class_='substats_col_month_last_pct')
FEB_usage = [x.text.strip() for x in FEB_usage]
FEB_usage = FEB_usage[100:]
FEB_usage = FEB_usage[:64]

In [371]:

df['DIRECTX 12 GPUS'] = GPU_name
df['OCT'] = OCT_usage
df['NOV'] = NOV_usage
df['DEC'] = DEC_usage
df['JAN'] = JAN_usage
df['FEB'] = FEB_usage
df

0           DIRECTX 12 GPUS     OCT     NOV     DEC     JAN     FEB
0   NVIDIA GeForce RTX 3060  10.17%   5.23%   5.53%   5.19%   6.39%
1   NVIDIA GeForce GTX 1650   3.72%   4.93%   4.90%   4.87%   4.38%
2   NVIDIA GeForce RTX 2060   6.22%   3.86%   3.87%   3.66%   4.27%
3   NVIDIA GeForce GTX 1060   5.23%   4.49%   4.06%   3.85%   4.06%
4   NVIDIA GeForce RTX 3070   5.31%   3.34%   3.49%   3.26%   3.99%
..                      ...     ...     ...     ...     ...     ...
59   AMD Radeon RX 7900 XTX       -   0.33%   0.35%   0.37%   0.36%
60    AMD Radeon RX 6750 XT       -   0.33%   0.34%   0.36%   0.32%
61    AMD Radeon RX 6800 XT       -   0.35%   0.35%   0.35%   0.32%
62        AMD Radeon RX 550       -   0.35%   0.35%   0.34%   0.30%
63                    Other  12.19%  13.39%  13.27%  12.75%  12.78%

[64 rows x 6 columns]

In [372]:
url = 'https://web.archive.org/web/20231011055311/https://store.steampowered.com/hwsurvey/videocard/'
request = requests.get(url)
soup2 = BeautifulSoup(request.content, 'html.parser')

In [373]:
table_header = soup2.find_all('div', class_='substats_col_left col_header')
#strip the html tags
table_header = [x.text.strip() for x in table_header]
#only keep the first element
table_header = table_header[2]
table_header

table_months = soup2.find_all('div', class_='substats_col_month col_header')
#keep only the first 4 elements
table_months = table_months[:4]
#strip the html tags
table_months = [x.text.strip() for x in table_months]
table_months

last_month = soup2.find_all('div', class_='substats_col_month_last_pct col_header')
#strip the html tags
last_month = [x.text.strip() for x in last_month]
#only keep the first element
last_month = last_month[0]
last_month

#combine all the lists into one list
table_header = [table_header] + table_months + [last_month]
table_header
table_header

['DIRECTX 12 GPUS', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP']

In [374]:
#turn the list into a dataframe where each element is a column header
df2 = pd.DataFrame(table_header)
df2 = df2.T
df2.columns = df2.iloc[0]
df2 = df2[1:]
df2

Empty DataFrame
Columns: [DIRECTX 12 GPUS, MAY, JUN, JUL, AUG, SEP]
Index: []

In [375]:
GPU_name = soup2.find_all('div', class_='substats_col_left')
#strip the html tags
GPU_name = [x.text.strip() for x in GPU_name]
GPU_name = GPU_name[105:166]

In [376]:
MAY_usage = soup2.find_all('div', class_='substats_col_month')
#strip the html tags
MAY_usage = [x.text.strip() for x in MAY_usage]
MAY_usage = MAY_usage[420:]
#only keep every 4th element
MAY_usage = MAY_usage[::4]
MAY_usage = MAY_usage[:61]


JUN_usage = soup2.find_all('div', class_='substats_col_month')
JUN_usage = [x.text.strip() for x in JUN_usage]
JUN_usage = JUN_usage[420:]
JUN_usage = JUN_usage[1::4]
JUN_usage = JUN_usage[:61]

JUL_usage = soup2.find_all('div', class_='substats_col_month')
JUL_usage = [x.text.strip() for x in JUL_usage]
JUL_usage = JUL_usage[420:]
JUL_usage = JUL_usage[2::4]
JUL_usage = JUL_usage[:61]

AUG_usage = soup2.find_all('div', class_='substats_col_month')
AUG_usage = [x.text.strip() for x in AUG_usage]
AUG_usage = AUG_usage[420:]
AUG_usage = AUG_usage[3::4]
AUG_usage = AUG_usage[:61]

SEP_usage = soup2.find_all('div', class_='substats_col_month_last_pct')
SEP_usage = [x.text.strip() for x in SEP_usage]
SEP_usage = SEP_usage[105:]
SEP_usage = SEP_usage[:61]

In [377]:
#add the new data to the dataframe
df2['DIRECTX 12 GPUS'] = GPU_name
df2['MAY'] = MAY_usage
df2['JUN'] = JUN_usage
df2['JUL'] = JUL_usage
df2['AUG'] = AUG_usage
df2['SEP'] = SEP_usage
df2

0              DIRECTX 12 GPUS     MAY     JUN     JUL     AUG     SEP
0      NVIDIA GeForce RTX 3060   5.24%   5.10%   5.32%   5.32%   6.86%
1      NVIDIA GeForce GTX 1650   6.47%   6.10%   5.77%   5.58%   5.23%
2      NVIDIA GeForce GTX 1060   5.30%   4.94%   5.02%   4.72%   5.14%
3      NVIDIA GeForce RTX 2060   4.84%   4.48%   4.48%   4.30%   5.13%
4   NVIDIA GeForce RTX 3060 Ti   3.56%   3.68%   3.73%   3.86%   4.42%
..                         ...     ...     ...     ...     ...     ...
56       AMD Radeon RX 6800 XT       -       -   0.34%   0.36%   0.33%
57       Intel HD Graphics 520   0.35%   0.35%   0.40%   0.36%   0.32%
58       Intel HD Graphics 620   0.40%   0.37%   0.43%   0.38%   0.32%
59  NVIDIA GeForce RTX 3050 Ti   0.38%   0.34%       -   0.34%   0.30%
60                       Other  14.97%  14.41%  14.83%  13.80%  12.80%

[61 rows x 6 columns]

In [378]:
# when the two dataframes have the same DIRECTX 12 GPUS, we can merge them, when they don't add the new data to the dataframe
df = pd.merge(df, df2, on='DIRECTX 12 GPUS', how='outer')
#remove duplicate DIRECTX 12 GPUS
df = df.drop_duplicates(subset='DIRECTX 12 GPUS')
#fill the NaN values with 0
df = df.fillna(0)
#reorder the columns to be in the following order: DIRECTX 12 GPUS, MAY, JUN, JUL, AUG, SEP, OCT, NOV, DEC, JAN, FEB
df = df[['DIRECTX 12 GPUS', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC', 'JAN', 'FEB']]
df

,DIRECTX 12 GPUS,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,FEB
0,NVIDIA GeForce RTX 3060,5.24%,5.10%,5.32%,5.32%,6.86%,10.17%,5.23%,5.53%,5.19%,6.39%
1,NVIDIA GeForce GTX 1650,6.47%,6.10%,5.77%,5.58%,5.23%,3.72%,4.93%,4.90%,4.87%,4.38%
2,NVIDIA GeForce RTX 2060,4.84%,4.48%,4.48%,4.30%,5.13%,6.22%,3.86%,3.87%,3.66%,4.27%
3,NVIDIA GeForce GTX 1060,5.30%,4.94%,5.02%,4.72%,5.14%,5.23%,4.49%,4.06%,3.85%,4.06%
4,NVIDIA GeForce RTX 3070,3.26%,3.21%,3.55%,3.50%,3.96%,5.31%,3.34%,3.49%,3.26%,3.99%
...,...,...,...,...,...,...,...,...,...,...,...
64,NVIDIA GeForce GT 730,0.45%,0.44%,0.44%,0.40%,0.38%,0,0,0,0,0
65,AMD Radeon Vega 3 Graphics,0.47%,0.45%,0.47%,0.43%,0.37%,0,0,0,0,0
66,Intel HD Graphics 520,0.35%,0.35%,0.40%,0.36%,0.32%,0,0,0,0,0
67,Intel HD Graphics 620,0.40%,0.37%,0.43%,0.38%,0.32%,0,0,0,0,0
68,NVIDIA GeForce RTX 3050 Ti,0.38%,0.34%,-,0.34%,0.30%,0,0,0,0,0

In [379]:
url = 'https://web.archive.org/web/20230528201416/https://store.steampowered.com/hwsurvey/videocard/'
request = requests.get(url)
soup3 = BeautifulSoup(request.content, 'html.parser')

In [380]:
table_header = soup3.find_all('div', class_='substats_col_left col_header')
#strip the html tags
table_header = [x.text.strip() for x in table_header]
#only keep the first element
table_header = table_header[2]
table_header

table_months = soup3.find_all('div', class_='substats_col_month col_header')
#keep only the first 4 elements
table_months = table_months[3:4]
#strip the html tags
table_months = [x.text.strip() for x in table_months]
table_months

last_month = soup3.find_all('div', class_='substats_col_month_last_pct col_header')
#strip the html tags
last_month = [x.text.strip() for x in last_month]
#only keep the first element
last_month = last_month[0]
last_month

#combine all the lists into one list
table_header = [table_header] + table_months + [last_month]
table_header
table_header

['DIRECTX 12 GPUS', 'MAR', 'APR']

In [381]:
#turn the list into a dataframe where each element is a column header
df3 = pd.DataFrame(table_header)
df3 = df3.T
df3.columns = df3.iloc[0]
df3 = df3[1:]
df3

Empty DataFrame
Columns: [DIRECTX 12 GPUS, MAR, APR]
Index: []

In [382]:
GPU_name = soup3.find_all('div', class_='substats_col_left')
#strip the html tags
GPU_name = [x.text.strip() for x in GPU_name]
GPU_name = GPU_name[108:166]

In [383]:
MAR_usage = soup3.find_all('div', class_='substats_col_month')
MAR_usage = [x.text.strip() for x in MAR_usage]
MAR_usage = MAR_usage[432:]
MAR_usage = MAR_usage[3::4]
MAR_usage = MAR_usage[:58]


APR_usage = soup3.find_all('div', class_='substats_col_month_last_pct')
APR_usage = [x.text.strip() for x in APR_usage]
APR_usage = APR_usage[108:]
APR_usage = APR_usage[:58]

In [384]:
#add the new data to the dataframe
df3['DIRECTX 12 GPUS'] = GPU_name
df3['MAR'] = MAR_usage
df3['APR'] = APR_usage
df3.head()

0                     DIRECTX 12 GPUS     MAR    APR
0             NVIDIA GeForce GTX 1650   4.20%  6.58%
1             NVIDIA GeForce GTX 1060   8.14%  5.33%
2             NVIDIA GeForce RTX 3060  11.05%  4.97%
3  NVIDIA GeForce RTX 3060 Laptop GPU   3.21%  4.79%
4             NVIDIA GeForce RTX 2060   8.35%  4.75%

In [385]:
# when the two dataframes have the same DIRECTX 12 GPUS, we can merge them, when they don't add the new data to the dataframe
df = pd.merge(df, df3, on='DIRECTX 12 GPUS', how='outer')
#remove duplicate DIRECTX 12 GPUS
df = df.drop_duplicates(subset='DIRECTX 12 GPUS')
#fill the NaN values with 0
df = df.fillna(0)
#reorder the columns to be in the following order: DIRECTX 12 GPUS, MAR, APR, MAY, JUN, JUL, AUG, SEP, OCT, NOV, DEC, JAN, FEB
df = df[['DIRECTX 12 GPUS', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC', 'JAN', 'FEB']]
df

,DIRECTX 12 GPUS,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,JAN,FEB
0,NVIDIA GeForce RTX 3060,11.05%,4.97%,5.24%,5.10%,5.32%,5.32%,6.86%,10.17%,5.23%,5.53%,5.19%,6.39%
1,NVIDIA GeForce GTX 1650,4.20%,6.58%,6.47%,6.10%,5.77%,5.58%,5.23%,3.72%,4.93%,4.90%,4.87%,4.38%
2,NVIDIA GeForce RTX 2060,8.35%,4.75%,4.84%,4.48%,4.48%,4.30%,5.13%,6.22%,3.86%,3.87%,3.66%,4.27%
3,NVIDIA GeForce GTX 1060,8.14%,5.33%,5.30%,4.94%,5.02%,4.72%,5.14%,5.23%,4.49%,4.06%,3.85%,4.06%
4,NVIDIA GeForce RTX 3070,5.62%,3.14%,3.26%,3.21%,3.55%,3.50%,3.96%,5.31%,3.34%,3.49%,3.26%,3.99%
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,AMD Radeon Vega 3 Graphics,-,0.48%,0.47%,0.45%,0.47%,0.43%,0.37%,0,0,0,0,0
66,Intel HD Graphics 520,-,0.36%,0.35%,0.35%,0.40%,0.36%,0.32%,0,0,0,0,0
67,Intel HD Graphics 620,-,0.38%,0.40%,0.37%,0.43%,0.38%,0.32%,0,0,0,0,0
68,NVIDIA GeForce RTX 3050 Ti,-,0.37%,0.38%,0.34%,-,0.34%,0.30%,0,0,0,0,0
69,Intel HD Graphics 4600,-,0.35%,0,0,0,0,0,0,0,0,0,0

In [386]:
#save the dataframe to a csv file
df.to_csv('PC_Part_Picker_Datasets/GPU_usage_steam.csv', index=False)